.job-row {
  font-family: Consolas;
  display: flex;
  flex-flow: row;
  align-items: center;
  border-bottom: 1px solid #595b5d;
  border-right: 1px solid #595b5d;
  height: 45px;
  justify-content: space-between;
  background-color: #313335;

  &__logo {
    background-color: #A9B7C6;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #313335;
  }

  &__basic-information {
    display: flex;
    flex-flow: column;
    flex: 50;
    margin-left: 10px;
  }

  &__secondary-information {
    flex: 30;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    color: #CC7832;
  }

  &__name {
    color: #AE8ABE;
  }

  &__salary {

  }


  &__technology {
    color: #FFC66D;
    font-size: 18px;
  }
}

.logo__img {
  max-width: 90px;
  max-height: 35px;
  object-fit: cover;
}
