<!--<h1 mat-dialog-title>Hi {{data | json}}</h1>-->
<div mat-dialog-content class="dialog__content">

    <div *ngIf="isCategoryType()">
        <p>Trending categories</p>
        <div *ngIf="categorie$ | async as categories">
            <div *ngFor="let category of categories; index as i"
                 class="dialog__checkboxes-box checkboxes-box">
                <input type="checkbox" [attr.id]="i">
                <label [attr.for]="i">{{category.name}}</label>
            </div>

        </div>
    </div>
    <div *ngIf="isTechnologyType()">
        <p>Trending technologies</p>
        <div *ngIf="technologie$ | async as technologies"
             class="dialog__checkboxes-box checkboxes-box">
            <div *ngFor="let technology of technologies; index as i"
                 class="checkboxes-box__checkbox">
                <input type="checkbox" [attr.id]="i">
                <label [attr.for]="i">{{technology.name}}</label>
            </div>
        </div>
    </div>
    <div *ngIf="isSalaryType()">
        <p>Amount</p>
    </div>
</div>
<div mat-dialog-actions class="dialog__actions">
    <button mat-button (click)="resetAllFilters()">Reset all</button>
    <button mat-button (click)="applyFilters()" cdkFocusInitial>Apply</button>
</div>
