<div *ngIf="job$ | async as jobs">
  <div *ngFor="let job of jobs">
    <div>{{job.name}}</div>
    <div>{{job.salary.currency}}</div>
    <div>{{job.salary.from}}</div>
    <div>{{job.salary.to}}</div>
<!--    -->
<!--    <div *ngFor="let categoryId of job.categoryIds">-->
<!--      {{getCategory(categoryId) | async | json}}-->
<!--    </div>-->
<!--    <div *ngFor="let technologyId of job.technologyIds">-->
<!--      {{getTechnology(technologyId) | async | json}}-->
<!--    </div>-->
  </div>
</div>
